.font-open-sans {
    font-family: 'Open Sans',sans-serif;
}
.font-comic-neue {
    font-family: 'Comic Neue',sans-serif;
}
.font-jost {
    font-family: 'Jost',sans-serif;
}
.font-Poppins {
    font-family: 'Poppins',sans-serif;
}